code {
  font-family:"American Typewriter","Bitstream Charter";
  border:none;
  font-size:1em;
  font-weight:600
}
strong {
  color: teal!important;
  position: absolute;
  right: 5px;
  font-weight: normal;
}
h3 {
  text-align: center;
  color: teal!important;
  font-size: 32px;
  margin-top: 10px;
}
p {
  font-family:"GoodDog",serif;
  font-size:28px;
  line-height:28px;
  text-align:center}
blockquote {
  float: left;
  border:0!important;
  margin: 0;
  left: 150px;
  position: absolute;
}
blockquote p {
  font-size:18px
}
#logo {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.title {
  padding-top: 1.5em;
}
.author em {
  font-family: serif;
  font-style: normal;
  position: absolute;
  top: 0;
  left: 85px;
}
#query {
width: 150px;
height: 150px;
float: left;
}
h1,h2,h3,h4,h5,h6{
  font-family:"TCLpapas",sans-serif;
  font-weight:normal} 
h1{
  color:#000;
  font-size:4em;
  padding-top: 0.5em;
}
h2 {
  color:#111;
  font-size:2.7143em;
  line-height:1.2em;
  margin:.5em 0;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
}
h1,h2 {
  text-align:center;
  padding:0.2em 0 0.2em}
h2 {
  border-top:solid 1px #ddd;
  border-bottom:solid 1px #ddd
}
h2:before {
  content:"\2015  ";
  font-weight:normal;
  color:#aaa
}
h2:after {
  content:" \2015";
  font-weight:normal;
  color:#aaa
}
